<p-fieldset legend="Faltas" class="d-none d-md-block">
    <p>Las faltas se agregan antes de la inserción de valores, recordar NO descontar dias de pago, solo el dato
        informativo
        del mes se reduce, ejemlo: Si tiene un día de falta, se le calcula en base a 30 días, no colocar 29 de lo
        contario se le descontará el doble
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Faltas
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="faltas">
    <div class="contenido">
        <h5 class="text-center">Faltas</h5>
        <p class="text-center">Para registrar las faltas ir a Asistencia y Registro de faltas</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/1faltas.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez en la interfaz filtra información para ver si hay trabajadores previamente
            ingresados</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/2faltas.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Para ingresar faltas presionar en la esquina superior izquierda el ícono de insertar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/3faltas.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Ahora en la ventana de añadir falta, podemos elegir el trabajador y la fecha de inicio a
            fin (si no aparecen los días seleccionar la fecha inicial y presionar enter). Luego seleccionar aceptar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/4faltas.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Verificar que el concepto de faltas esté en la ficha del trabajador</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/1trouble.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Encontrarás los valores de Días periodo y Horas x día vacíos, debes llenar esa
            información en base a los dos conceptos de la izquierda DIA SEMANA y HORAS SEMANA. Posteriormente volver a
            revisar la planilla mensual. <small class="text-lead"> EJM: Día semana = 5 | Horas semana = 40 | Días
                periodo 30 | Horas por día 8</small>  </p>
      
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/3trouble.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Ahora solo vamos a planilla mensual y procesamos al trabajador para agregar la falta,
            posteriormente verificar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Faltas/6faltas.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>










</p-scrollPanel>