<div class="Procesos" appIdDirective>
  <div class="Procesos-title bg-dark shadow-lg rounded-3 p-5 mt-3 position-relative">
    <h2 class="Procesos-h2 Procesos-h2--title fw-bold my-2">Sección AFP</h2>
    <p class="fs-5">
      El proceso de afp permite generar un archivo que luego se subirá a la afp
      para ser pagada.
    </p>
  </div>

  <div class="Procesos-banner px-5 my-4">
    <p-timeline [value]="events2" layout="horizontal" align="alternate">
      <ng-template pTemplate="content" let-event>
        &#123;&#123;event&#125;&#125;
      </ng-template>
      <ng-template pTemplate="opposite" let-event> &nbsp; </ng-template>
    </p-timeline>
  </div>

  <div class="Procesos-content mt-5 shadow-lg rounded-3">
    <!-- section 1 -->
    <h4 class="Procesos-h4 px-3 fst-italic">Existen dos situaciones</h4>
    <p-divider align="left" type="dashed">
      <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> AFP con y sin subsidios y/o
        liquidaciones
      </div>
    </p-divider>
    <div class="Procesos-description text-center rounded-3 shadow-sm">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of situacionesArray">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>

    <!-- alert -->
    <div class="Procesos-alert p-4 rounded-3 border my-4 bg-light">
      <figure class="Procesos-figure">
        <blockquote class="Procesos-blockquote blockquote">
          <p class="text-dark">Vamos a darle una solución a ambos casos</p>
        </blockquote>
        <figcaption class="Procesos-figcaption blockquote-footer">
          Cabe recalcar que si ya se entiende como exportar un archivo afp con
          subsidio, cuando toca realizar un proceso sin esto, practicamente es
          pan comido.
        </figcaption>
      </figure>
    </div>

    <!-- section 2 -->
    <h4 class="Procesos-h4 px-3 fst-italic">Solución con liquidaciones</h4>
    <p-divider align="left" type="dashed">
      <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Existe Liquidación
      </div>
    </p-divider>
    <div class="Procesos-description text-center shadow-sm">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
          styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of conLiquidacion">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>

    <!-- delete liquidaciones  -->

    <!-- con subsidio-->
    <h4 class="Procesos-h4 px-3 fst-italic mt-5">Solución con subsidios</h4>
    <p-divider align="left" type="dashed">
      <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Agregar un subsidio para AFP.
      </div>
    </p-divider>
    <div class="Procesos-description text-center shadow-sm">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of conSubsidio">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>

    <!--  -->

    <h4 class="Procesos-h4 px-3 fst-italic border-bottom mt-5">
      Recuerdales que sigan el flujo, Planillas - Afp - Plames
    </h4>

    <div class="Procesos-alert p-4 rounded-3 border mb-4 bg-light">
      <figure class="Procesos-figure">
        <blockquote class="Procesos-blockquote blockquote">
          <p class="text-dark">No seguir el flujo de entrega puede generar problemas.</p>
        </blockquote>
        <figcaption class="Procesos-figcaption blockquote-footer">
          Recuerda que si agregaste una liquidación o subsidio la planilla
          quedará diferente, es decir si necesitan un reporte de planillas,
          tendrás que quitar lo agregado para que se genere.
        </figcaption>
      </figure>
    </div>

    <h4 class="Procesos-h4 px-3 fst-italic border-bottom mt-5">
      Solución sin subsidio o liquidación.
    </h4>
    <p-divider align="left" type="dashed">
      <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> El proceso de solo sacar los reportes
      </div>
    </p-divider>

    <div class="Procesos-description text-center shadow-sm ">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of sinSubsidio">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
