<div class="Procesos" appIdDirective>
  <div class="Procesos-title bg-light p-5 mt-3 position-relative">
    <h2 class="Procesos-h2 Procesos-h2--title fw-bold my-2">Sección AFP</h2>
    <p class="fs-5">
      El proceso de afp permite generar un archivo que luego se subirá a la afp
      para ser pagada.
    </p>
  </div>

  <div class="Procesos-banner px-5 my-4">
    <p-timeline [value]="events2" layout="horizontal" align="alternate">
      <ng-template pTemplate="content" let-event>
        &#123;&#123;event&#125;&#125;
      </ng-template>
      <ng-template pTemplate="opposite" let-event> &nbsp; </ng-template>
    </p-timeline>
  </div>

  <div class="Procesos-content mt-5">
    <!-- section 1 -->
    <h4 class="Procesos-h4 px-3 fst-italic">Existen dos situaciones</h4>
    <div class="Procesos-description text-center">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of situacionesArray">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>

    <!-- section 2 -->
    <h4 class="Procesos-h4 px-3 fst-italic">Solución con subsidios</h4>

    <div class="Procesos-description text-center">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of arrayProcesos">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>
    <!--     <div class="Procesos-section d-flex justify-content-center p-3">
      <p-image
        src="assets/Adicionales/afp/impuestos.png"
        class="img-fluid"
        alt="Image"
        width="100%"
        [preview]="true"
      >
        <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>x
      </p-image>
    </div> -->

    <h4 class="Procesos-h4 px-3 fst-italic border-bottom mt-5">
      Recuerda que aquí también se agrega la fecha de boletas
    </h4>

    <div class="Procesos-alert p-4 rounded-3 border mb-4 bg-light">
      <figure class="Procesos-figure">
        <blockquote class="Procesos-blockquote blockquote">
          <p>Solo necesitas estar en el periodo y mes que deseas</p>
        </blockquote>
        <figcaption class="Procesos-figcaption blockquote-footer">
          Solo basta con colocar la fecha en la columna llamada Fecha de pago.
        </figcaption>
      </figure>
    </div>

    <h4 class="Procesos-h4 px-3 fst-italic border-bottom mt-2">
      Selección de periodo
    </h4>
    <p>
      Recuerda seguir al pie de la letra las pautas para cada tipo de periodo
      disponible. Mensual, Gratificación y CTS.
    </p>

    <div class="Procesos-description text-center">
      <p-scrollPanel
        class="p-4"
        [style]="{ width: '100%', height: '700px' }"
        styleClass="custom"
      >
        <div class="contenido my-5" *ngFor="let valor of arrayProcesos">
          <h5 class="Procesos-h5">{{ valor.title }}</h5>
          <p class="Procesos-p">{{ valor.description }}</p>

          <p-image
            [src]="valor.urlImage"
            alt="Image"
            width="600"
            [preview]="true"
          >
            <ng-template pTemplate="indicator"> Presiona para Ver </ng-template>
          </p-image>
          <p-divider align="right"></p-divider>
        </div>
      </p-scrollPanel>
    </div>
  </div>
</div>
