<p-fieldset legend="Renta Externa" class="d-none d-md-block">
    <p>La renta aquí se calcula en base al mes declarado por primera vez y el total anual. Teniendo en
        cuenta que son 14 sueldos, si declaramos por primera vez en Enero, tendríamos total-anual/14, si declaramos en
        Febrero sería
        total/13, para Marzo total/12
        etc, el resultado se va declarando mes a mes desde ese punto en adelante. Si estamos en Julio, el salto es de 2,
        es decir si en Junio es /9, para Julio será /7.
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Renta Externa
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="renta-externa"r>
    <div class="contenido">
        <h5 class="text-center">Renta externa </h5>
        <p class="text-center">De manera relevante, lo primero es ir a la ficha del trabajador y habilitar su renta
            externa, posteriormente guardar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/1renta.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Vamos a registro/Renta externa</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/2renta.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">A continuación un ejemplo para calcular el monto respectivo, suponiendo que tenemos 20000
            soles de total anual, y declaramos por primera vez en Febrero, ese mes se tomó el total/13 ya que estamos en
            Febrero, luego en los siguientes meses solo se coloca la misma cantidad calculada, a excepción de Julio y Diciembre
            donde se tomará el total, se restará lo ya declarado y se volverá a dividir pero ahora saltando un número a la secuencia, si tocaba /8 ahora es /7 por ejemplo. </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/1renta-explicacion.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Seleccionamos insertar y luego colocamos la información del trabajador y el importe
            calculado</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/3renta.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Ahora solo procedemos a procesar al trabajador</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/4renta.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Podemos observar el monto insertado desde procesos/Calculo renta de quinta </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Renta-Externa/5renta.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    
</p-scrollPanel>