<h2 class="text-muted my-2">Flujo principal del sistema</h2>
<div class="my-4">
    <p-timeline [value]="events" align="alternate">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker shadow-2" [style.backgroundColor]="event.color">
                <i [ngClass]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                <p *ngIf="event.text"> {{event.text}}</p>
                <button pButton label="Leer más" class="p-button-text"></button>
            </p-card>
        </ng-template>
    </p-timeline>
</div>
<h2 class="text-white my-2">Ruta común a seguir</h2>
<div class="my-5">
    <p-timeline [value]="events1" align="alternate">
        <ng-template pTemplate="content" let-event>
            <a [routerLink]="event.step" class="text-decoration-none text-white">{{event.status}}</a>
        </ng-template>
    </p-timeline>
</div>