<p-fieldset legend="Vacaciones" class="d-none d-md-block">

    <p>El llenado de vacaciones va antes de la inserción de valores, si se hace después, no se asignarán los días de
        manera automática después
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Vacaciones
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="vacaciones">
    <div class="contenido">
        <p class="text-center">Para las vacaciones ir a Asistencia y luego a Vacaciones.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/1VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Para colocar vacaciones de este año actual (2022), ir al año 2021 y dar a la opción
            insertar</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/2VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Si hay trabajadores agregados al filtrar 2022 borrarlos de ahí y colocarlos en 2021, ya
            que si tienen vacaciones en el año actual, se tiene que tomar en cuenta su periodo laboral 2021</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/3VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Al seleccionar insertar se desplaza una ventana para seleccionar a los trabajadores,
            cambiar el año a 2018, seleccionar el trabajador y aceptar. </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/4VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">A continuación aparecerá en la lista mostrada previamente, colocar la fecha de inicio,
            fecha de fin y guardar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/5VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Doble clic y verificar el rango de fechas insertadas previamente </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/6VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Verificar que el trabajador tenga el concepto vacaciones en su ficha </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/TROUBLE.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>



    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">A continuación debemos ir a Valores </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/7VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Colocar en el campo DIA los días de vacaciones y en DIAS (columna a su izquierda, reducir
            los días trabajados). Si esto se hizo antes de insertar valores, no será necesario mover aquí </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/8VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Ahora vamos a planilla mensual y procesamos para verificar</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/9VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Buscamo al trabajador, procesamos y verificamos los
            campos, si seguimos los pasos correctamente debería salir un campo vacaciones.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Asistencias/Vacaciones/10VACACIONES.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

</p-scrollPanel>



