.Container-section {
  background: url(../assets/bg-home.jpg);
  padding: 10rem;
}
.Container-general {
  height: 100%;
}

.Container-h1 {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 570px) {
  .Container-section {
    padding: 4rem;
  }
}

/* .Container-h1 {
    max-width: 54rem;
}
 */

.Container-img {
  max-height: 4rem;
}
