.Container-section {
  background: url(../assets/bg-home.jpg);
  padding: 10rem;
}
.Container-general {
  height: 100%;
}

.Container-h1 {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  color: transparent;
  background-clip: text;
}
@media only screen and (max-width: 570px) {
  .Container-section {
    padding: 4rem;
  }
}
@media only screen and (min-width: 1500px) {
  .Container-h1 {
    font-size: 4rem;
  }
}

.Container-h3Principal {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);

  color: transparent;
  background-clip: text;
  font-weight: bold;
}

.Container-img {
  max-height: 3rem;
}
