<p-fieldset legend="Otros conceptos" class="d-none d-md-block">
    <p>Abarca la gran mayoría de conceptos a utilizar, no solo para los datos del mes, si no también permite agregar
        liquidaciones, bonificaciones relacionadas a la grati, entre otros.
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Otros Conceptos
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom">
    <div class="contenido">
        <h5 class="text-center">Otros conceptos</h5>
        <p class="text-center">Para insertar ir a Registro/Otros conceptos/Insertar conceptos.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/1otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez en insertar conceptos, seleccionar el concepto que queremos, en la imagen se
            muestra de manera de ejemplo Asignación por Educación</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/2otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Seleccionar el monto del trabajador y guardar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/3otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Si se equivocan insertando conceptos o desean cambiarlo más adelante, solo ir a Listado.
        </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/4otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Seleccionar al trabajador y seleccionar eliminar.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/5otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez insertados los trabajadores correctamente procesar la información en planilla
            mensual. </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/6otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Seleccionar a los trabajadores y procesarlos.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-conceptos/7otros.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>










</p-scrollPanel>