<p-fieldset legend="Otros ingresos" class="d-none d-md-block">
    <p>Este panel es equivalente al valor que se puede obtener en Otros conceptos I049, aunque se recomienda usar este
        para evitar problemas.
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Otros Ingresos
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="otros-ingresos">
    <div class="contenido">
        <h5 class="text-center">Otros Ingresos </h5>
        <p class="text-center">Ir a Registro/ Otros ingresos</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-ingresos/1ingresos.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">En otros conceptos seleccionar Otros descuentos y añadir nuevo trabajador</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-ingresos/2ingresos.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez seleccionado, aparecerá en la tabla inferior (de no salir, retroceder y volver a entrar al panel de otros ingresos), ahora colocarle el monto en la
            columna correspondiente</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-ingresos/3ingresos.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Ahora, solo es cuestión de ir a procesar y listo</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Otros-ingresos/4ingresos.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


</p-scrollPanel>