<p-fieldset legend="CTS" class="d-none d-md-block">
    <p>En el panel CTS solo trabajar de manera semestral, hay opciones mensuales, pero no están aplicadas para este
        sistema.
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel CTS
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom">
    <div class="contenido">
        <h5 class="text-center">Activar CTS </h5>
        <p class="text-center">Primero debemos ir a periodos, en la opción planilla, elegir CTS</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/1CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Ahora debemos crear el periodo CTS y poner especificamente 1S para el primer periodo, y
            2S para el segundo, son las claves de
            conexión</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/2CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Ahora dirigirse a Registro /calculo CTS</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/3CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Debemos elegir solo semestral, luego especificamos el periodo que queremos y luego
            procesamos.
        <small class="text-lead">Si es la segunda vez que entran y ya se ha procesado antes, solo dar Ver
            Resultados</small></p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/4CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez dentro tenemos varias opciones, además de ver la información podemos guardar,
            eliminar,procesar y exportar los datos a un excel, llevar el mouse sobre el icono generará una pequeña
            información</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/5CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Si hacemos algún cambio, seleccionar al personal, guardar y posteriormente procesar. </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/6CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Si queremos borrar a alguien, basta con seleccionarlo y elegir eliminar.
        <small class="text-lead">Si han eliminado trabajadores, y procesan desde la pestaña anterior donde elegían el periodo, estos
            regresarán, solo procesar de manera general desde esta tabla</small></p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/7CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Para seleccionar reportes CTS, solo ir a reportes y elegir los seleccionados en el cuadro
        <small class="text-lead">Si no aparecen los reportes, comuniquense con un administrador del sistema para la habilitación en su cuenta</small>
    </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/8CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Para seleccionar reportes CTS, solo ir a reportes y elegir los seleccionados en el cuadro</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Cts/9CTS.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>










</p-scrollPanel>