<p-fieldset legend="Adelantos" class="d-none d-md-block">
    <p>El panel de adelantos para la gratificación y los datos del mes son el mismo
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Adelantos
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="adelanto">
    <div class="contenido">
        <h5 class="text-center">Adelantos </h5>
        <p class="text-center">Ir a Registro -> Prestamos/Adelantos -> Registro de Prestamos / Adelantos </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/1adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Aparecerá un registro de adelantos de haberse hecho en periodos anteriores. Para
            registrar un nuevo adelanto ir a insertar. </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/2adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Una vez en la ventana de insertar adelantos, elegir ADELANTOS DE SUELDO: Se
            debe resaltar con énfasis que no se debe colocar como concepto asociado ADELANTO DE SALARIO.</p> 
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/3adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Seleccionar al empleado que tendrá el adelanto, llenar el campo Monto y Cuenta con la
            misma cantidad. Esto indica lo que se le adelantará y lo que se le tendrá que descontar. Indicar la fecha y
            verificar si en Proyección de Pago aparece el MES en el que se realiza el adelanto.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/4adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>


    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">En caso sea adelanto de gratificación, solo cambiar el monto registrado, enviar de saldo
            a gratificacion abajo en la matriz</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/5adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Para verificar la información ir a planilla mensual y verificar la información de
            adelantos en descuentos.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Registros/Adelantos/6adelantos.png" alt="Image" width="250" [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>



</p-scrollPanel>