<ng-container *ngIf="informacion">
    <p-fieldset [legend]="informacion.titulo" class="d-none d-md-block">
        <p class="fieldset__p p-5">{{informacion.subtitulo}}</p>
    </p-fieldset>

    <p-divider align="left" type="dashed" appIdDirective>
        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i> {{informacion.panel}}
        </div>
    </p-divider>
    <p-scrollPanel class="p-4 " [style]="{width: '100%', height: '700px'}" styleClass="custom">
        <!--650px  -->

        <h5 class="text-center">{{informacion.titulo}} </h5>
        <div class="contenido" *ngFor="let valor of informacion.contenido">

            <p class="text-center">{{valor.subtitles}}</p>
            <div class="d-flex justify-content-center">
                <p-image [src]="valor.imagesUrl" alt="Image" width="250" [preview]="true">
                    <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
                </p-image>
            </div>
            <p-divider align="right"></p-divider>
        </div>

    </p-scrollPanel>
</ng-container>