<div *ngIf="informacion" appIdDirective>
    <div class="Procesos-title bg-light p-5 mt-3" [id]="informacion.id" >
        <h2 class="Procesos-h2 Procesos-h2--title fw-bold my-2">{{informacion.titulo}}</h2>
        <p class="fs-5 ">{{informacion.subtitulo}} </p>
    </div>


    <p-divider align="left" type="dashed">

        <div class="inline-flex align-items-center">
            <i class="pi pi-user mr-2"></i> {{informacion.panel}}
        </div>
    </p-divider>
    <p-scrollPanel class="p-4 " [style]="{width: '100%', height: '700px'}" styleClass="custom">


        <h5 class="text-center">{{informacion.titulo}} </h5>
        <div class="contenido" *ngFor="let valor of informacion.contenido">

            <p class="text-center">{{valor.subtitles}}</p>
            <div class="d-flex justify-content-center">
                <p-image [src]="valor.imagesUrl" alt="Image" width="400px" [preview]="true">
                    <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
                </p-image>
            </div>
            <p-divider align="right"></p-divider>
        </div>

    </p-scrollPanel>
</div>