<p-fieldset legend="Gratificaciones" class="d-none d-md-block">
    <p>Es necesario entender que las las gratificaciones toman cada periodo de los últimos 6 meses, estos abarcan un
        contenedor especificado por un número, y al lado el periodo en curso. Si uno de estos no tiene número
        equivalente al de sus hermanos, ese mes no será tomado en cuenta.
    </p>

</p-fieldset>

<p-divider align="left" type="dashed">
    <div class="inline-flex align-items-center">
        <i class="pi pi-user mr-2"></i> Panel Gratificacion
    </div>
</p-divider>


<p-scrollPanel class="p-4" [style]="{width: '100%', height: '650px'}" styleClass="custom" id="gratificacion">
    <div class="contenido">
        <h5 class="text-center">Gratificaciones</h5>
        <p class="text-center">Ir a periodos para habilitar el proceso de gratificación</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/1grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Elegimos la opción planilla y seleccionamos Gratificación ordinaria, posteriormente
            colocamos el mes 07 para Julio o 12 para Diciembre, y especificamos los rangos de fecha <small
                class="text-lead">seguir el ejemplo de la imagen</small></p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/2grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Vamos a valores y elegimos Gratificacion Ordinaria, además el periodo en el que estamos.
        </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/3grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Ahora nos aseguramos de insertar la bonificación, para eso vamos a otros conceptos </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/3.1grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Elegimos los periodos de gratificación correspondientes, elegimos el concepto I060 y
            posteriormente seleccionamos a todos <small>.Un tip rapido es seleccionar uno, y presionar f6 hasta que se
                marquen todos</small> </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/3.2grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center"> Nos dirigimos a procesar la planilla, en calculo planilla gratificación </p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/4grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Procesamos si es la primera vez que ingresamos</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/5grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">
        <p>Si queremos realizar un cambio en particular, solo modificar el valor de la gratificacion, no es necesario
            modificar la bonificación porque se ajutará automaticamente, ahora dar en guardar NO EN PROCESAR, y se
            actualizará automaticamente el cambio.</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/5gratimod.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>

    <div class="contenido">
        <p-divider align="right"></p-divider>
        <p class="text-center">Los reportes son los mismo que tiene la planilla mensual, solo cambiamos el periodo al lado derecho y elegimos gratificación</p>
        <div class="d-flex justify-content-center">
            <p-image src="assets/Especiales/Gratificacion/6grati.png" alt="Image" width="250"
                [preview]="true">
                <ng-template pTemplate="indicator"><i class="pi pi-image" style="font-size: 2rem"></i></ng-template>
            </p-image>
        </div>
    </div>










</p-scrollPanel>